



<h1>Customer Feedbacks</h1>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Date Submitted</th>
      </tr>
    </thead>
    <tbody>
      <% feedbacks.forEach(feedback => { %>
        <tr>
          <td><%= feedback.customer_name %></td>
          <td><%= feedback.email %></td>
          <td><%= feedback.message %></td>
          <td><%= new Date(feedback.created_at).toLocaleString() %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  
  