<% if (title) {%>
  <h1><%= title %></h1>
  <% } else{
      res.redirect('/')
  }%>
  
  <%- messages() %>
  
  <% if (errors) { %>
      <ul class="notice">
          <% errors.array().forEach(error => { %>
              <% if(error.msg !== "Invalid value") {%>
                  <li><%= error.msg %></li>
              <%}%>
          <% }) %>
      </ul>
  <% } %>
  
  <div class="login-container">
    <form action="/account/login" method="POST" class="login-form">
          <label for="userEmail">Email</label><br>
          <input type="email" id="userEmail" class="userEmail" name="account_email" required value="<%= locals.account_email %>"><br>
          <label for="userPassword">Password</label><br>
          <input type="password" class="userPassword" id="userPassword" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
          <div>There must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character.</div>
          <input type="submit" value="Submit" id="submitBtn">
          <p>No account?<a href="/account/register">Sign-up</a></p>
      </form>
  </div>
<!-- Include password.js -->
<script src="/js/password.js"></script>
