

<div class="container">
    <% if (notice) { %>
        <div class="alert alert-success"><%= notice %></div>
    <% } %>
    <% if (errors) { %>
        <div class="alert alert-danger"><%= errors %></div>
    <% } %>

    <h1>You're logged in</h1>
</div>


