

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: Arial, sans-serif;
    background: url('/images/site/checkerboard.jpg');
    background-size: 150px 150px;
    /* margin: 0; */
    padding: 0;
}

@media (max-width: 600px) {
    body {
        background: white;
    }
}

#wrapper {
    background: white;
    max-width: 900px;
    height: 100vh;
    margin: auto;
    padding: 20px;
    border: 5px solid lightblue;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border-radius: 10px;
}

#top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteName {
    font-size: 2.5em;
    font-weight: bold;
}

#tools {
    margin-left: auto;
    text-align:right;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background: navy;
    padding: 10px;
    list-style: none;
    color: white;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: lightgray; */
    padding: 20px;
}
.hero-text {
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  position: absolute;
  left: 10%;
  text-align: left;
}
.hero-text h2 a {
    color: blue;
    text-decoration: none;
}

.hero-text button {
    background: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

#upgrades, #reviews {
    width: 45%;
}

.upgrade-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.upgrade-item {
    background: lightblue;
    text-align: center;
    padding: 10px;
}

.upgrade-item a {
    display: block;
    margin-top: 5px;
    background: none;
    text-align: center;
}

@media (max-width: 600px) {
    #hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-text{
      position:static;
    }
    #content {
        flex-direction: column;
    }
    #reviews {
      order: -1;
  }
    #upgrades, #reviews {
        width: 100%;
    }
    /* .upgrade-grid {
        grid-template-columns: 1fr;
    } */
}
