<%- details %>

<section class="feedback-section">
    <h3>We value your opinion!</h3>
    <p>Tell us what you think about this vehicle.</p>
    <a href="/feedback?vehicle=<%= item.inv_id %>" class="feedback-button">Leave Feedback</a>

</section>
