


<h1>Vehicle Management</h1>

<% if (notice && notice.length > 0) { %>
  <div class="info-message">
    <p><%= notice[0] %></p>
  </div>
<% } %>


<div id="management">
    <a href="/inv/add-classification">Add New Classification</a>
    <a href="/inv/add-inventory">Add New Vehicle</a>
</div>